name: Update README
on: [push, pull_request]

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update README
        env:
          GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
          GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
    # For more information about sed and its usage, you can refer to the sed manual page or online resources such as the GNU sed documentation.
    # https://www.gnu.org/software/sed/manual/sed.html
          # TREEVIEW=$(find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g')
        run: |
          sed 's/TREEVIEW/TREEVIEW!!!/' README.md
          git config --global user.email "$GIT_EMAIL"
          git config --global user.name "$GIT_USERNAME"
          git add README.md 
          git commit -m "Update README with new folder structure"
          git push
